{% extends 'track-stuff:base.html.twig' %}
{% block content %}
  <div class="row">
    <div class="columns small-8 offset-2">
      <h1>What did you do today?</h1>

      <input class="tracker-input" type="text" placeholder="40 situps" data-action="{{ route('track-stuff:log:add_shorthand') }}"/>
      <div class="tracker-entries">
      </div>
    </div>
  </div>

{% endblock %}
