{% extends 'track-stuff:base.html.twig' %}
{% block content %}
  <div class="row">
    <div class="columns small-8 small-centered panel">
      <h1>What did you do today?</h1>

      <div class="row">
        <div class="columns small-4">
          <input class="tracker-date" type="text" value="{{date()|date('Y/m/d')}}">
        </div>
        <div class="columns small-8">
          <div class="row collapse">
            <div class="columns small-11">
              <input class="tracker-input" type="text" data-action="{{ route('track-stuff:log:add_shorthand') }}"/>
            </div>
            <div class="columns small-1" style="display:none;">
              <span class="postfix">
                <i class="fa"></i>
              </span>
            </div>
          </div>
        </div>
      </div>
      <div class="row">
        <div class="columns small-12">
          <p class="tracker-error error" style="display:none;">
          </p>
        </div>
      </div>

      <a class="button" href="{{route('track-stuff:goals:list')}}">View progress</a>
    </div>
  </div>

{% endblock %}
