{% extends 'track-stuff:base.html.twig' %}
{% block content %}
  <div class="row">
    <div class="columns small-12">
      <input class="tracker-input" type="text" placeholder="40 situps" />
      <div class="tracker-entries">
      </div>
    </div>
  </div>
{% endblock %}
