{% extends 'track-stuff:base.html.twig' %}

{% block content %}
  <div class="row">
    <div class="columns small-12">
      <h1>New Goal</h1>
      {{ form.render | raw }}
    </div>
  </div>
{% endblock %}
