{% extends 'track-stuff:base.html.twig' %}

{% block content %}
  <div class="row">
    <div class="columns small-12">
      <h1>All goals</h1>
      <table>
        <thead>
          <th>
            Title
          </th>
          <th>
            Entries
          </th>
          <th>
            Total
          </th>
          <th>
          </th>
        </thead>
        <tbody>
          {% for goal in goals %}
            <tr>
              <td>
                {# switch to property syntax after upgrading active-doctrine #}
                {{ goal.get('title') }}
              </td>
              <td>
                {{ goal.get('logs').count() }}
              </td>
              <td>
                {{ goal.get('total') }}
              </td>
              <td>
                <a href="{{ route('track-stuff:goal:view', {id: goal.get('id')}) }}">View</a>
              </td>
            </tr>
          {% endfor %}
        </tbody>
      </table>
    </div>
  </div>
{% endblock %}
