{% extends 'track-stuff:base.html.twig' %}

{% block content %}
  <div class="row">
    <div class="columns small-12">
      <h1>{{ goal.get('title') }}</h1>
      <table>
        <thead>
          <th>
            Date
          </th>
          <th>
            Amount
          </th>
          <th>
            Total
          </th>
          <th>
          </th>
        </thead>
        <tbody>
          {% for log in goal.get('logs') %}
            <tr>
              <td>
                {{ log.get('date')|date }}
              </td>
              <td>
                {{ log.get('amount') }}
              </td>
              <td>
                <a href="javascript:;">Edit</a>
              </td>
            </tr>
          {% endfor %}
          <tr>
            <td>
            </td>
            <td>
              {{ goal.get('total') }}
            </td>
          </tr>
        </tbody>
      </table>
    </div>
  </div>
{% endblock %}
